body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

a:link {
  text-decoration: none;
}

header {
  height: 70px;
  line-height: 70px;
  background-color: #000000;
  color: #FFF;
  font-size: 27px;
  margin-bottom: 30px;
  text-align: center;
  text-transform: uppercase;
}

.container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: flex-start;
}

.product {
  width: 350px;
  border-radius: 8px;
  margin-bottom: 40px;
  cursor: pointer;
  overflow: hidden;
  align-self: flex-start;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.12),
              0 2px 4px 0 rgba(0,0,0,0.08);
}

.product img {
  width: 350px;
  object-fit: scale-down;
  border-bottom: 1px solid #D6D6D6;
}

.product h3 {
  font-size: 20px;
  text-transform: uppercase;
  margin: 18px 18px 25px 18px;
}

.product-details {
  padding: 10px;
  position: relative;
  color: #373737;
}

.product-details li {
  margin-bottom: 5px;
}

.discount {
  height: 64px;
  width: 64px;
  line-height: 64px;
  background-color: #7f1bf8;
  border-radius: 50%;
  display: inline-block;
  color: #FFF;
  font-size: 24px;
  text-align: center;
  position: absolute;
  top: -48px;
  right: 10px;
}

.price {
  bottom: 0;
  height: 60px;
  line-height: 60px;
  color: #FFF;
  background-color: #FFCC00;
  font-size: 27px;
  text-align: right;
  padding-right: 16px;
}

.available {
  position: relative;
  /* top: 200px; */
  background-color: #00b652;
  /* height: 50px; */
  width: 100%;
  color: #FFF;
  line-height: 50px;
  text-align: center;
  font-size: 27px;
  /* transform: rotate(-30deg); */
}

.sold {
  position: relative;
  /* top: 200px; */
  background-color: #FF0000;
  /* height: 50px; */
  width: 100%;
  color: #FFF;
  line-height: 50px;
  text-align: center;
  font-size: 27px;
  /* transform: rotate(-30deg); */
}

.reserved {
  position: relative;
  /* top: 200px; */
  background-color: #0092d6;
  /* height: 50px; */
  width: 100%;
  color: #FFF;
  line-height: 50px;
  text-align: center;
  font-size: 27px;
  /* transform: rotate(-30deg); */
}
